main {
  width: 100%;
}

header {
  height: 15vh;
}

.search-form {
  margin: 2rem;
  padding: 1rem;
  .search-bar {
    display: flex;
  }

  .term-tags {
    margin: 1rem;
    display: flex;

    .tag {
      margin-left: 1rem;
      border: 2px solid black;
      padding: 0.2rem;
    }
  }
}

.job-listing {
  border: 3px solid orange;
  width: 50%;

  .ad-info {
    display: flex;
    justify-content: space-between;
  }

  .job-title,
  .tags {
    display: flex;
    justify-content: space-evenly;
  }

  .logo {
    width: 7rem;
    height: 7rem;

    .company-logo {
      max-width: 100%;
    }
  }
}

.nav-buttons {
  width: 50%;
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
}
